main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 90px;
}

.principal {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.secaoTitulo {
    margin: 0;
}

.secaoTitulo > p {
    color: rgb(153, 153, 153);
    font-family: Arial, Helvetica, sans-serif;
    /* margin-right: 30px; */
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.secaoTitulo{
    margin-left: 25px;
}

.containerProduto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    max-width: 90%;
    border: 0.5px solid #fefe;
    border-radius: 10px;
    box-shadow: 15px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    margin: 10px 0;
}

.quantidade {
    position: absolute;
    top: 0;
    left: 10px;
    margin-top: 10px;
}

.favoritar{
    position: absolute;
    top: 4px;
    right: 10px;
}

.favoritar > i {
    font-size: 24px;
    color: #EC3B4D;
    /* background-color: #EC3B4D; */
}

.logoProduto {
    object-fit:contain;
    width: 60%;
    height: 60%;
}

.nomeProduto {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

span {
    font-family: sans-serif;
}

.nomeProduto, .descricao, .preco {
    margin: 15px 0;
}

.preco {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    color: #493D9E;
}

.btnCarrinho {
    border: none;
    padding: 15px;
    background-color: #00569E;
    color: #fff;
    border-radius: 5px;
    /* width: 60vw; */
    width: 100%;
    /* max-width: 80%; */
}

.cart {
    margin-right:  5px;
}